<html>

<head>
  <link rel="stylesheet" href="./lib/Bootstrap.min.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <p class="navbar-text">Brand</p>

            <a class="btn btn-primary" href="/user/login" role="button" data-toggle="modal" data-target="#login">登录</a>
            <a class="btn btn-default" href="/user/register" role="button" data-toggle="modal" data-target="#register">注册</a>

          </div>
        </div>
      </nav>
    </div>
    <!-- Login -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
        </div>
      </div>
    </div>

    <!-- Register -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            
          </div>
        </div>
      </div>
  </div>
  <script src="./lib/jquery.min.js"></script>
  <script src="./lib/Bootstrap.min.js"></script>
  <script>
    // $('.js-login').on('click', () => {

    // })
  </script>
</body>

</html>