<% include ../public/header.ejs %>
  <div style="width: 530px; margin: 50px auto; border: 1px solid #ccc; border-radius: 5px;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">注册</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal js-register-form">
        <!-- <div class="form-group emailLabel">
              <label for="email" class="col-sm-2 control-label">邮箱</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="请输入邮箱" name="email">
              </div>
            </div> -->
        <div class="form-group userNameLabel">
          <label for="userName" class="col-sm-2 control-label">用户名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" placeholder="请输入用户名" name="userName">
          </div>
        </div>
        <div class="form-group passLabel">
          <label for="password" class="col-sm-2 control-label">密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
          </div>
        </div>
        <div class="form-group rePassLabel">
          <label for="confirmPassword" class="col-sm-2 control-label">确认密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="confirmPassword" placeholder="请再次输入密码" name="repeatPassword">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 记住我
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <dic class="col-sm-offset-2 col-sm-10">
            <div>
              <p class="text-danger" style="display: none"></p>
            </div>
          </dic>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      <button type="button" class="btn btn-primary js-register">注册</button>
    </div>
  </div>
  <script>

    // 请求前校验
    const checkForm = () => {
      // const email = $('#email').val();
      const userName = $('#userName').val();
      const password = $('#password').val();
      const repeatPass = $('#confirmPassword').val();
      // if (!email) {
      //   $('.emailLabel').addClass(' has-error');
      //   $('.text-danger').show().text('请输入正确的邮箱名');
      // } 
      if (!userName) {
        $('.userNameLabel').addClass(' has-error');
        $('.text-danger').show().text('请输入正确的用户名');
      } else if (!password) {
        $('.passLabel').addClass(' has-error');
        $('.text-danger').show().text('请输入正确的密码格式');
      } else if (!repeatPass || (password !== repeatPass)) {
        $('.rePassLabel').addClass(' has-error');
        $('.text-danger').show().text('两次密码输入不一致！');
      } else {
        // serialize: email= &userName= &password= &repeatPassword=
        $.ajax({
          url: '/user/register',
          data: $('.js-register-form').serialize(),
          type: 'POST',
          cache: false,
          dataType: 'json',
        })
          .then(msg => {
            switch (msg.type) {
              case 0:
                $('.text-danger').show().text('用户名已存在！');
                break;
              case 1:
                window.location.href = '/user/login';
            }
          })
          .catch(err => console.log(err));
      }
    }
    $('.js-register').on('click', checkForm)
  </script>
  <% include ../public/footer.ejs %>