<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/lib/Bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <p class="navbar-text">Brand</p>

            <a class="btn btn-primary" href="/user/login" role="button">登录</a>
            <a class="btn btn-default" href="/user/register" role="button">注册</a>

          </div>
        </div>
      </nav>
    </div>
  </div>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/Bootstrap.min.js"></script>